<div class="col-sm-8 border rounded mt-4" style="padding-bottom:10px;">
            <div class="row mt-2">
                <span class="col-sm-3">
                    <p class="bg-secondary rounded" style="text-align:center;color:#fff;font-size:13px;">Category</p>
                </span>
                <span class="col-sm-3">
                    {{ article.createdAt|date("m/d/Y") }}
                </span>
            </div>
            <div class="row mt-1" style="padding-left:20px;">
                    <a href="{{ path('article.show', {'id': article.id, 'slug': article.slug}) }}" class="text-danger" style="text-align:center;"> <strong> {{article.title}} </strong></a>
            </div>
            <div class="row mt-1">
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22843%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20843%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_175ec38f984%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A42pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_175ec38f984%22%3E%3Crect%20width%3D%22843%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22314.0625%22%20y%3D%22144.2%22%3E843x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="img-fluid" alt="Responsive image">
            </div>
            <div class="row mt-1" style="padding-left:20px;">
                <p>
                    {{article.content}}
                </p>
            </div>
            {% include "article/_like_share.html.twig" %}
            
        </div>
