{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <h1>Nouvel article</h1>
        </div>
        {{ include ('user/_layout.html.twig', {form: form,button: 'Ajouter'}) }}

    </div>
{% endblock %}
